doctype html
html(lang="en")
    head
        title Mailgun Transactional
        //Latest compiled and minified CSS & JS 
        link(rel='stylesheet', media='screen', href='//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    body
        include ./includes/navbar.jade
        .container
            p Well that's awkward: #{error}
        script(src='//code.jquery.com/jquery.js')
        script(src='//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')